tools/assertions/schema/todos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <xs:complexType name="TodoType">
    <xs:sequence>
      <xs:element name="doneStatus" type="xs:boolean"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="id" type="xs:integer"/>
      <xs:element name="title" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="todos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="todo" type="TodoType" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>